.myCardStyle {
  background: #ffffff;
  /* 系统投影 */
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05) !important;
  border-radius: 6px !important;
  border: 0 !important;
  padding: 24px;
}
.myCardStyle .el-card__body {
  padding: 0;
  border: 0;
}
.refiningTitle {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  /* 文字颜色/常规文字 */
  color: #606266;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 20px;
}
.smallTable .el-table__cell {
  padding: 0;
  height: 32px;
}
.smallTable {
  border: 0;
}
.smallTable td.el-table__cell,
.el-table th.el-table__cell.is-leaf {
  border: 1px solid #EBEEF5;
}
.label {
  font-family: Microsoft YaHei;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #606266;
  padding: 5px 10px;
  border: 0;
  border-top: 1px solid #e4e7ed;
  height: 27px;
}
.content {
  font-family: Microsoft YaHei;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #13356f;
  text-align: center;
  padding: 5px;
  border: 0;
  border-top: 1px solid #e4e7ed;
  border-left: 1px solid #e4e7ed;
  height: 27px;
}
.myTopCard {
  height: 56px;
  width: 90px;
  background: #FFFFFF;
  border: 1px solid #DCDFE6;
  border-radius: 4px;
}
.myTopCard .el-card__header {
  height: 27px;
  padding: 5px 8px;
  border-bottom: 1px solid #DCDFE6;
}
.myTopCard .topFont {
  font-family: 'Microsoft YaHei';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */
  /* 文字颜色/常规文字 */
  color: #606266;
}
.myTopCard .topFontValue {
  font-family: 'Microsoft YaHei';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  /* 主色 */
  color: #13356F;
}
.infoCard {
  background: #FFFFFF;
  /* Border/Border-base */
  border: 1px solid #DCDFE6;
  border-radius: 4px;
}
.infoCard .el-card__header {
  height: 32px;
  padding: 2px 10px;
  border-bottom: 1px solid #ebeef5;
}
.infoCard .el-card__header .title {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  /* identical to box height, or 100% */
  color: #606266;
}
.infoCard .el-card__body {
  padding: 0;
}
